{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
