.title {
  z-index: 2;
  position: relative;
  font-size: 12px;
  height: 12px;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
  text-shadow: none;
  text-transform: capitalize;
}

.tabItem {
  display: flex;
  position: relative;
  width: 100%;
  & a:hover ~ .closeIcon {
    display: block;
  }
  & .closeIcon {
    display: block;
  }
}
.tabItem .closeIcon {
  display: none;
}
.tabItem:hover .closeIcon {
  display: block;
}

@container sidebar (width <= 56px) {
  .title {
    display: none;
  }
  a {
    justify-content: center;
  }
}
@container sidebar (width > 80px) {
  a {
    padding-left: 8px;
    padding-right: 8px;
  }
}
