.title {
  z-index: 2;
  position: relative;
  font-size: 12px;
  height: 12px;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
  text-shadow: none;
  text-transform: capitalize;
}
