@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
body {
  font-family: "Outfit", "Noto Serif Display", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#root {
  overflow: hidden;
  height: 100svh;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6969dd transparent;
  scrollbar-gutter: stable;
}
